@using Final_Test_Hybrid.Components.Overview
@using Final_Test_Hybrid.Models.Plc.Tags
@using Final_Test_Hybrid.Services.OpcUa
@using Final_Test_Hybrid.Services.OpcUa.Connection

<div class="io-editor-container">
    <div class="tabs-shell">
        <RadzenTabs RenderMode="TabRenderMode.Client" class="io-editor-tabs">
            <Tabs>
                <RadzenTabsItem Text="AI Calibration">
                    <div class="tab-toolbar">
                        <div class="toolbar-buttons">
                            <RadzenButton Text="Сохранить" Icon="save"
                                          Click="@SaveAiAsync" Disabled="@(!HasAiUnsavedChanges)"
                                          ButtonStyle="ButtonStyle.Primary" />
                            <RadzenButton Text="Сброс" Icon="undo"
                                          Click="@ResetAiChanges" Disabled="@(!HasAiUnsavedChanges)"
                                          ButtonStyle="ButtonStyle.Light" />
                        </div>
                    </div>

                    @if (_isLoading)
                    {
                        <div class="loading-container">
                            <RadzenProgressBarCircular ShowValue="false" Mode="ProgressBarMode.Indeterminate" />
                            <span>Загрузка данных...</span>
                        </div>
                    }
                    else
                    {
                        <RadzenDataGrid @ref="_aiGrid" Data="@_aiItems" TItem="AiCalibrationItem"
                                        EditMode="DataGridEditMode.Single"
                                        CellClick="@OnAiCellClick"
                                        RowUpdate="@OnAiUpdateRow"
                                        ColumnWidth="120px">
                            <Columns>
                                <RadzenDataGridColumn TItem="AiCalibrationItem" Property="SensorName" Title="Датчик" Width="130px">
                                    <Template Context="item">
                                        @item.SensorName
                                    </Template>
                                </RadzenDataGridColumn>
                                <RadzenDataGridColumn TItem="AiCalibrationItem" Property="Description" Title="Описание" Width="220px">
                                    <Template Context="item">
                                        @item.Description
                                    </Template>
                                </RadzenDataGridColumn>
                                <RadzenDataGridColumn TItem="AiCalibrationItem" Property="Min" Title="Мин" Width="110px">
                                    <Template Context="item">
                                        <span class="@(IsAiMinChanged(item) ? "cell-modified" : "")">
                                            @item.Min.ToString("F2")
                                        </span>
                                    </Template>
                                    <EditTemplate Context="item">
                                        @if (IsAiEditing(nameof(item.Min)))
                                        {
                                            <RadzenNumeric TValue="double" @bind-Value="item.Min" class="w-full" />
                                        }
                                        else
                                        {
                                            <span class="@(IsAiMinChanged(item) ? "cell-modified" : "")">
                                                @item.Min.ToString("F2")
                                            </span>
                                        }
                                    </EditTemplate>
                                </RadzenDataGridColumn>
                                <RadzenDataGridColumn TItem="AiCalibrationItem" Property="Max" Title="Макс" Width="110px">
                                    <Template Context="item">
                                        <span class="@(IsAiMaxChanged(item) ? "cell-modified" : "")">
                                            @item.Max.ToString("F2")
                                        </span>
                                    </Template>
                                    <EditTemplate Context="item">
                                        @if (IsAiEditing(nameof(item.Max)))
                                        {
                                            <RadzenNumeric TValue="double" @bind-Value="item.Max" class="w-full" />
                                        }
                                        else
                                        {
                                            <span class="@(IsAiMaxChanged(item) ? "cell-modified" : "")">
                                                @item.Max.ToString("F2")
                                            </span>
                                        }
                                    </EditTemplate>
                                </RadzenDataGridColumn>
                                <RadzenDataGridColumn TItem="AiCalibrationItem" Property="Multiplier" Title="Множитель" Width="110px">
                                    <Template Context="item">
                                        <span class="@(IsAiMultiplierChanged(item) ? "cell-modified" : "")">
                                            @item.Multiplier.ToString("F2")
                                        </span>
                                    </Template>
                                    <EditTemplate Context="item">
                                        @if (IsAiEditing(nameof(item.Multiplier)))
                                        {
                                            <RadzenNumeric TValue="double" @bind-Value="item.Multiplier" class="w-full" />
                                        }
                                        else
                                        {
                                            <span class="@(IsAiMultiplierChanged(item) ? "cell-modified" : "")">
                                                @item.Multiplier.ToString("F2")
                                            </span>
                                        }
                                    </EditTemplate>
                                </RadzenDataGridColumn>
                                <RadzenDataGridColumn TItem="AiCalibrationItem" Property="Offset" Title="Смещение" Width="110px">
                                    <Template Context="item">
                                        <span class="@(IsAiOffsetChanged(item) ? "cell-modified" : "")">
                                            @item.Offset.ToString("F2")
                                        </span>
                                    </Template>
                                    <EditTemplate Context="item">
                                        @if (IsAiEditing(nameof(item.Offset)))
                                        {
                                            <RadzenNumeric TValue="double" @bind-Value="item.Offset" class="w-full" />
                                        }
                                        else
                                        {
                                            <span class="@(IsAiOffsetChanged(item) ? "cell-modified" : "")">
                                                @item.Offset.ToString("F2")
                                            </span>
                                        }
                                    </EditTemplate>
                                </RadzenDataGridColumn>
                            </Columns>
                        </RadzenDataGrid>
                    }
                </RadzenTabsItem>

                <RadzenTabsItem Text="RTD Calibration">
                    <div class="tab-toolbar">
                        <div class="toolbar-buttons">
                            <RadzenButton Text="Сохранить" Icon="save"
                                          Click="@SaveRtdAsync" Disabled="@(!HasRtdUnsavedChanges)"
                                          ButtonStyle="ButtonStyle.Primary" />
                            <RadzenButton Text="Сброс" Icon="undo"
                                          Click="@ResetRtdChanges" Disabled="@(!HasRtdUnsavedChanges)"
                                          ButtonStyle="ButtonStyle.Light" />
                        </div>
                    </div>

                    @if (_isLoading)
                    {
                        <div class="loading-container">
                            <RadzenProgressBarCircular ShowValue="false" Mode="ProgressBarMode.Indeterminate" />
                            <span>Загрузка данных...</span>
                        </div>
                    }
                    else
                    {
                        <RadzenDataGrid @ref="_rtdGrid" Data="@_rtdItems" TItem="RtdCalibrationItem"
                                        EditMode="DataGridEditMode.Single"
                                        CellClick="@OnRtdCellClick"
                                        RowUpdate="@OnRtdUpdateRow"
                                        ColumnWidth="120px">
                            <Columns>
                                <RadzenDataGridColumn TItem="RtdCalibrationItem" Property="PlcTag" Title="PLC Tag" Width="150px">
                                    <Template Context="item">
                                        @item.PlcTag
                                    </Template>
                                </RadzenDataGridColumn>
                                <RadzenDataGridColumn TItem="RtdCalibrationItem" Property="Type" Title="Type" Width="180px">
                                    <Template Context="item">
                                        @item.Type
                                    </Template>
                                </RadzenDataGridColumn>
                                <RadzenDataGridColumn TItem="RtdCalibrationItem" Property="Raw" Title="Raw" Width="120px">
                                    <Template Context="item">
                                        @item.Raw.ToString("F3")
                                    </Template>
                                </RadzenDataGridColumn>
                                <RadzenDataGridColumn TItem="RtdCalibrationItem" Property="Multiplier" Title="Multiplier" Width="120px">
                                    <Template Context="item">
                                        <span class="@(IsRtdMultiplierChanged(item) ? "cell-modified" : "")">
                                            @item.Multiplier.ToString("F3")
                                        </span>
                                    </Template>
                                    <EditTemplate Context="item">
                                        @if (IsRtdEditing(nameof(item.Multiplier)))
                                        {
                                            <RadzenNumeric TValue="double" @bind-Value="item.Multiplier" class="w-full" />
                                        }
                                        else
                                        {
                                            <span class="@(IsRtdMultiplierChanged(item) ? "cell-modified" : "")">
                                                @item.Multiplier.ToString("F3")
                                            </span>
                                        }
                                    </EditTemplate>
                                </RadzenDataGridColumn>
                                <RadzenDataGridColumn TItem="RtdCalibrationItem" Property="Offset" Title="Offset" Width="120px">
                                    <Template Context="item">
                                        <span class="@(IsRtdOffsetChanged(item) ? "cell-modified" : "")">
                                            @item.Offset.ToString("F3")
                                        </span>
                                    </Template>
                                    <EditTemplate Context="item">
                                        @if (IsRtdEditing(nameof(item.Offset)))
                                        {
                                            <RadzenNumeric TValue="double" @bind-Value="item.Offset" class="w-full" />
                                        }
                                        else
                                        {
                                            <span class="@(IsRtdOffsetChanged(item) ? "cell-modified" : "")">
                                                @item.Offset.ToString("F3")
                                            </span>
                                        }
                                    </EditTemplate>
                                </RadzenDataGridColumn>
                                <RadzenDataGridColumn TItem="RtdCalibrationItem" Property="Calculated" Title="Calculated" Width="120px">
                                    <Template Context="item">
                                        @item.Calculated.ToString("F3")
                                    </Template>
                                </RadzenDataGridColumn>
                            </Columns>
                        </RadzenDataGrid>
                    }
                </RadzenTabsItem>

                <RadzenTabsItem Text="PID Regulator">
                    <div class="tab-toolbar">
                        <div class="toolbar-buttons">
                            <RadzenButton Text="Сохранить" Icon="save"
                                          Click="@SavePidAsync" Disabled="@(!HasPidUnsavedChanges)"
                                          ButtonStyle="ButtonStyle.Primary" />
                            <RadzenButton Text="Сброс" Icon="undo"
                                          Click="@ResetPidChanges" Disabled="@(!HasPidUnsavedChanges)"
                                          ButtonStyle="ButtonStyle.Light" />
                        </div>
                    </div>

                    @if (_isLoading)
                    {
                        <div class="loading-container">
                            <RadzenProgressBarCircular ShowValue="false" Mode="ProgressBarMode.Indeterminate" />
                            <span>Загрузка данных...</span>
                        </div>
                    }
                    else
                    {
                        <RadzenDataGrid @ref="_pidGrid" Data="@_pidItems" TItem="PidRegulatorItem"
                                        EditMode="DataGridEditMode.Single"
                                        CellClick="@OnPidCellClick"
                                        RowUpdate="@OnPidUpdateRow"
                                        ColumnWidth="100px">
                            <Columns>
                                <RadzenDataGridColumn TItem="PidRegulatorItem" Property="PlcTag" Title="PLC Tag" Width="120px">
                                    <Template Context="item">
                                        @item.PlcTag
                                    </Template>
                                </RadzenDataGridColumn>
                                <RadzenDataGridColumn TItem="PidRegulatorItem" Property="Type" Title="Type" Width="120px">
                                    <Template Context="item">
                                        @item.Type
                                    </Template>
                                </RadzenDataGridColumn>
                                <RadzenDataGridColumn TItem="PidRegulatorItem" Property="SetPoint" Title="SetPoint" Width="100px">
                                    <Template Context="item">
                                        @item.SetPoint.ToString("F3")
                                    </Template>
                                </RadzenDataGridColumn>
                                <RadzenDataGridColumn TItem="PidRegulatorItem" Property="ActuelValue" Title="ActuelValue" Width="100px">
                                    <Template Context="item">
                                        @item.ActuelValue.ToString("F3")
                                    </Template>
                                </RadzenDataGridColumn>
                                <RadzenDataGridColumn TItem="PidRegulatorItem" Property="ManualValue" Title="ManualValue" Width="100px">
                                    <Template Context="item">
                                        @item.ManualValue.ToString("F3")
                                    </Template>
                                </RadzenDataGridColumn>
                                <RadzenDataGridColumn TItem="PidRegulatorItem" Property="ActuelloutValue" Title="ActuelloutValue" Width="100px">
                                    <Template Context="item">
                                        @item.ActuelloutValue.ToString("F3")
                                    </Template>
                                </RadzenDataGridColumn>
                                <RadzenDataGridColumn TItem="PidRegulatorItem" Property="Gain1" Title="Gain1" Width="100px">
                                    <Template Context="item">
                                        <span class="@(IsPidGain1Changed(item) ? "cell-modified" : "")">
                                            @item.Gain1.ToString("F3")
                                        </span>
                                    </Template>
                                    <EditTemplate Context="item">
                                        @if (IsPidEditing(nameof(item.Gain1)))
                                        {
                                            <RadzenNumeric TValue="double" @bind-Value="item.Gain1" class="w-full" />
                                        }
                                        else
                                        {
                                            <span class="@(IsPidGain1Changed(item) ? "cell-modified" : "")">
                                                @item.Gain1.ToString("F3")
                                            </span>
                                        }
                                    </EditTemplate>
                                </RadzenDataGridColumn>
                                <RadzenDataGridColumn TItem="PidRegulatorItem" Property="Ti1" Title="Ti1" Width="100px">
                                    <Template Context="item">
                                        <span class="@(IsPidTi1Changed(item) ? "cell-modified" : "")">
                                            @item.Ti1.ToString("F3")
                                        </span>
                                    </Template>
                                    <EditTemplate Context="item">
                                        @if (IsPidEditing(nameof(item.Ti1)))
                                        {
                                            <RadzenNumeric TValue="double" @bind-Value="item.Ti1" class="w-full" />
                                        }
                                        else
                                        {
                                            <span class="@(IsPidTi1Changed(item) ? "cell-modified" : "")">
                                                @item.Ti1.ToString("F3")
                                            </span>
                                        }
                                    </EditTemplate>
                                </RadzenDataGridColumn>
                                <RadzenDataGridColumn TItem="PidRegulatorItem" Property="Td1" Title="Td1" Width="100px">
                                    <Template Context="item">
                                        <span class="@(IsPidTd1Changed(item) ? "cell-modified" : "")">
                                            @item.Td1.ToString("F3")
                                        </span>
                                    </Template>
                                    <EditTemplate Context="item">
                                        @if (IsPidEditing(nameof(item.Td1)))
                                        {
                                            <RadzenNumeric TValue="double" @bind-Value="item.Td1" class="w-full" />
                                        }
                                        else
                                        {
                                            <span class="@(IsPidTd1Changed(item) ? "cell-modified" : "")">
                                                @item.Td1.ToString("F3")
                                            </span>
                                        }
                                    </EditTemplate>
                                </RadzenDataGridColumn>
                                <RadzenDataGridColumn TItem="PidRegulatorItem" Property="Gain2" Title="Gain2" Width="100px">
                                    <Template Context="item">
                                        <span class="@(IsPidGain2Changed(item) ? "cell-modified" : "")">
                                            @item.Gain2.ToString("F3")
                                        </span>
                                    </Template>
                                    <EditTemplate Context="item">
                                        @if (IsPidEditing(nameof(item.Gain2)))
                                        {
                                            <RadzenNumeric TValue="double" @bind-Value="item.Gain2" class="w-full" />
                                        }
                                        else
                                        {
                                            <span class="@(IsPidGain2Changed(item) ? "cell-modified" : "")">
                                                @item.Gain2.ToString("F3")
                                            </span>
                                        }
                                    </EditTemplate>
                                </RadzenDataGridColumn>
                                <RadzenDataGridColumn TItem="PidRegulatorItem" Property="Ti2" Title="Ti2" Width="100px">
                                    <Template Context="item">
                                        <span class="@(IsPidTi2Changed(item) ? "cell-modified" : "")">
                                            @item.Ti2.ToString("F3")
                                        </span>
                                    </Template>
                                    <EditTemplate Context="item">
                                        @if (IsPidEditing(nameof(item.Ti2)))
                                        {
                                            <RadzenNumeric TValue="double" @bind-Value="item.Ti2" class="w-full" />
                                        }
                                        else
                                        {
                                            <span class="@(IsPidTi2Changed(item) ? "cell-modified" : "")">
                                                @item.Ti2.ToString("F3")
                                            </span>
                                        }
                                    </EditTemplate>
                                </RadzenDataGridColumn>
                                <RadzenDataGridColumn TItem="PidRegulatorItem" Property="Td2" Title="Td2" Width="100px">
                                    <Template Context="item">
                                        <span class="@(IsPidTd2Changed(item) ? "cell-modified" : "")">
                                            @item.Td2.ToString("F3")
                                        </span>
                                    </Template>
                                    <EditTemplate Context="item">
                                        @if (IsPidEditing(nameof(item.Td2)))
                                        {
                                            <RadzenNumeric TValue="double" @bind-Value="item.Td2" class="w-full" />
                                        }
                                        else
                                        {
                                            <span class="@(IsPidTd2Changed(item) ? "cell-modified" : "")">
                                                @item.Td2.ToString("F3")
                                            </span>
                                        }
                                    </EditTemplate>
                                </RadzenDataGridColumn>
                            </Columns>
                        </RadzenDataGrid>
                    }
                </RadzenTabsItem>
            </Tabs>
        </RadzenTabs>
    </div>
</div>
