@using Final_Test_Hybrid.Models.Database
@using Final_Test_Hybrid.Models.Database.Edit

<div class="grid-container">
    <div class="grid-toolbar">
        <div class="toolbar-buttons">
            <RadzenButton Icon="add" Text="Добавить"
                          Click="@AddNewRow"
                          Disabled="@(SelectedBoilerTypeId == null)" />
        </div>
        <span class="record-count">Записей: @Items.Count</span>
    </div>
    <RadzenDataGrid @ref="_grid" Data="@Items" TItem="ResultSettingsEditModel"
                EditMode="DataGridEditMode.Single"
                AllowFiltering="true" AllowSorting="true"
                AllowColumnResize="true" AllowColumnReorder="true">
    <Columns>
        <RadzenDataGridColumn TItem="ResultSettingsEditModel" Width="50px"
                              Sortable="false" Filterable="false" TextAlign="TextAlign.Center">
            <HeaderTemplate>
                <RadzenCheckBox TValue="bool" Value="@IsAllSelected" Change="@OnSelectAllChanged" />
            </HeaderTemplate>
            <Template Context="item">
                <RadzenCheckBox TValue="bool" Value="@SelectedItems.Contains(item)"
                                Change="@(v => OnRowSelectChanged(item, v))" />
            </Template>
        </RadzenDataGridColumn>
        <RadzenDataGridColumn TItem="ResultSettingsEditModel" Property="AddressValue"
                              Title="Адрес значения" Width="150px">
            <EditTemplate Context="item">
                <RadzenTextBox @bind-Value="item.AddressValue" MaxLength="100" class="w-full" />
            </EditTemplate>
        </RadzenDataGridColumn>
        <RadzenDataGridColumn TItem="ResultSettingsEditModel" Property="ParameterName"
                              Title="Название параметра" Width="200px">
            <EditTemplate Context="item">
                <RadzenTextBox @bind-Value="item.ParameterName" MaxLength="100" class="w-full" />
            </EditTemplate>
        </RadzenDataGridColumn>
        <RadzenDataGridColumn TItem="ResultSettingsEditModel" Property="PlcType"
                              Title="Тип PLC" Width="100px">
            <Template Context="item">
                @item.PlcType
            </Template>
            <EditTemplate Context="item">
                <RadzenDropDown @bind-Value="item.PlcType"
                                Data="@_plcTypes"
                                class="w-full" />
            </EditTemplate>
        </RadzenDataGridColumn>
        <RadzenDataGridColumn TItem="ResultSettingsEditModel" Property="AuditType"
                              Title="Тип" Width="100px">
            <Template Context="item">
                @GetAuditTypeDisplayName(item.AuditType)
            </Template>
            <EditTemplate Context="item">
                <RadzenDropDown @bind-Value="item.AuditType"
                                Data="@_allowedAuditTypes"
                                TextProperty="Value"
                                ValueProperty="Key"
                                class="w-full" />
            </EditTemplate>
        </RadzenDataGridColumn>
        <RadzenDataGridColumn TItem="ResultSettingsEditModel" Property="Nominal"
                              Title="Номинал" Width="100px">
            <EditTemplate Context="item">
                <RadzenTextBox @bind-Value="item.Nominal" MaxLength="30" class="w-full" />
            </EditTemplate>
        </RadzenDataGridColumn>
        <RadzenDataGridColumn TItem="ResultSettingsEditModel" Property="Unit"
                              Title="Ед.изм." Width="80px">
            <EditTemplate Context="item">
                <RadzenTextBox @bind-Value="item.Unit" MaxLength="20" class="w-full" />
            </EditTemplate>
        </RadzenDataGridColumn>
        <RadzenDataGridColumn TItem="ResultSettingsEditModel" Property="Description"
                              Title="Описание">
            <EditTemplate Context="item">
                <RadzenTextArea @bind-Value="item.Description" MaxLength="500" Rows="2" class="w-full" />
            </EditTemplate>
        </RadzenDataGridColumn>
        <RadzenDataGridColumn TItem="ResultSettingsEditModel"
                              TextAlign="TextAlign.Center" Sortable="false"
                              Filterable="false" Width="100px">
            <Template Context="item">
                <RadzenButton Icon="edit" Size="ButtonSize.Small"
                              Click="@(() => EditRow(item))"/>
                <RadzenButton Icon="delete" Size="ButtonSize.Small"
                              ButtonStyle="ButtonStyle.Danger"
                              Click="@(() => DeleteRow(item))"/>
            </Template>
            <EditTemplate Context="item">
                <RadzenButton Icon="check" Size="ButtonSize.Small"
                              Click="@(() => SaveRow(item))"/>
                <RadzenButton Icon="close" Size="ButtonSize.Small"
                              Click="@(() => CancelEdit(item))"/>
            </EditTemplate>
        </RadzenDataGridColumn>
    </Columns>
    </RadzenDataGrid>
</div>
