@using Microsoft.AspNetCore.Components.Web.Virtualization
@using Final_Test_Hybrid.Components.Results
<div class="tab-content">
    <div class="app-tabs-shell">
        <RadzenTabs RenderMode="TabRenderMode.Client"
                    @bind-SelectedIndex="@_selectedTabIndex"
                    Style="height: 100%; width: 100%"
                    class="app-tabs-90">
            <Tabs>
                <RadzenTabsItem Text="Лог-файл">
                    <div class="log-viewer-container">
                        <div class="log-toolbar">
                            <span class="log-info">Строк: @_lines.Count</span>
                        </div>
                        <div class="log-content">
                            @if (!string.IsNullOrEmpty(_statusMessage))
                            {
                                <span class="log-empty">@_statusMessage</span>
                            }
                            else if (_lines.Count == 0)
                            {
                                <span class="log-empty">Лог пуст</span>
                            }
                            else
                            {
                                <Virtualize Items="_lines" Context="line" ItemSize="24">
                                    <div class="log-line @GetLogLevelClass(line)">@line</div>
                                </Virtualize>
                            }
                        </div>
                    </div>
                </RadzenTabsItem>
                <RadzenTabsItem Text="Время шагов">
                    <div class="step-timings-tab-container">
                        <StepTimingsGrid />
                    </div>
                </RadzenTabsItem>
            </Tabs>
        </RadzenTabs>
    </div>
</div>
