@using Final_Test_Hybrid.Components.Main.Modals
@using Final_Test_Hybrid.Services.Common.Settings
@using Final_Test_Hybrid.Services.SpringBoot.Operator
@implements IDisposable

<div class="buttons-row">
    <RadzenButton Text="Авторизация оператора"
                  Icon="person"
                  ButtonStyle="ButtonStyle.Primary"
                  Style="background-color: #1e5fcf"
                  Click="@OpenLoginDialog"
                  Disabled="@OperatorState.IsAuthenticated"/>
    <RadzenButton Text="Выйти"
                  Icon="logout"
                  ButtonStyle="ButtonStyle.Light"
                  Style="color: black"
                  Click="@OnLogout"
                  Disabled="@(!OperatorState.IsAuthenticated)"/>
</div>
<div class="field-row field-row-operator">
    <RadzenLabel Text="Имя оператора"/>
    <RadzenTextBox Style="width:100%" Value="@OperatorState.Username" ReadOnly="true"/>
</div>

@code {
    [Inject]
    public required DialogService DialogService { get; set; }
    [Inject]
    public required NotificationService NotificationService { get; set; }
    [Inject]
    public required OperatorState OperatorState { get; set; }
    [Inject]
    public required OperatorAuthService OperatorAuthService { get; set; }
    [Inject]
    public required AppSettingsService AppSettingsService { get; set; }

    protected override void OnInitialized()
    {
        OperatorState.OnChange += OnStateChanged;
    }

    private void OnStateChanged()
    {
        InvokeAsync(StateHasChanged);
    }

    private Task OpenLoginDialog() => (AppSettingsService.UseMes, AppSettingsService.UseOperatorQrAuth) switch
    {
        (false, _) => OpenManualLoginDialog(),
        (true, true) => OpenUserScanDialog(),
        _ => OpenMesLoginDialog()
    };

    private async Task OpenUserScanDialog()
    {
        await DialogService.OpenAsync<UserScanDialog>("Авторизация оператора",
            new Dictionary<string, object> { { "Text", "Отсканируйте бейдж оператора" } },
            options: new DialogOptions
            {
                Width = "450px",
                CloseDialogOnOverlayClick = false,
                ShowClose = true,
                CssClass = "operator-login-dialog"
            });
    }

    private async Task OpenMesLoginDialog()
    {
        await DialogService.OpenAsync<OperatorLoginDialog>("Авторизация оператора",
            options: new DialogOptions
            {
                Width = "450px",
                CloseDialogOnOverlayClick = false,
                ShowClose = true,
                CssClass = "operator-login-dialog"
            });
    }

    private async Task OpenManualLoginDialog()
    {
        await DialogService.OpenAsync<OperatorManualLoginDialog>("Авторизация оператора",
            options: new DialogOptions
            {
                Width = "450px",
                CloseDialogOnOverlayClick = false,
                ShowClose = true,
                CssClass = "operator-login-dialog"
            });
    }

    private async Task OnLogout()
    {
        if (AppSettingsService.UseMes)
        {
            await LogoutMes();
            return;
        }
        LogoutManual();
    }

    private async Task LogoutMes()
    {
        var result = await OperatorAuthService.LogoutAsync();
        if (result.Success)
        {
            NotificationService.Notify(NotificationSeverity.Success, "Выход выполнен");
            return;
        }
        NotificationService.Notify(NotificationSeverity.Error, result.ErrorMessage ?? "Неизвестная ошибка");
    }

    private void LogoutManual()
    {
        OperatorAuthService.ManualLogout();
        NotificationService.Notify(NotificationSeverity.Success, "Выход выполнен");
    }

    public void Dispose()
    {
        OperatorState.OnChange -= OnStateChanged;
    }
}
