@using Final_Test_Hybrid.Models.Database
@using Final_Test_Hybrid.Models.Database.Edit

<div class="tab-content grid-unified-host">
    @if (_loadError)
    {
        <RadzenAlert AlertStyle="AlertStyle.Danger" Shade="Shade.Lighter"
                     AllowClose="false">
            Не удалось загрузить данные из базы данных
        </RadzenAlert>
    }
    else
    {
        <div class="grid-toolbar">
            <RadzenDropDown @bind-Value="_selectedBoilerTypeId"
                            Data="@_boilerTypes"
                            TextProperty="Type"
                            ValueProperty="Id"
                            Placeholder="Все типы котлов"
                            AllowClear="true"
                            Change="@OnBoilerTypeFilterChanged"
                            Style="min-width: 400px; height: 40px; font-size: 20px; font-weight: 700; color: black;" />
            <div class="toolbar-buttons">
                <RadzenButton Icon="refresh" Text="Обновить"
                              Click="@LoadDataAsync" />
                <RadzenButton Icon="add" Text="Добавить"
                              Click="@AddNewRow"
                              Disabled="@(_selectedBoilerTypeId == null)" />
                <RadzenButton Icon="content_copy" Text="Копировать"
                              Click="@CopySelectedRecipes"
                              Disabled="@(_selectedRecipes.Count == 0)" />
                <RadzenButton Icon="cloud_download" Text="Загрузить с сервера"
                              Click="@DownloadRecipesFromServer"
                              Disabled="@(_selectedBoilerTypeId == null)" />
                <RadzenButton Icon="delete_sweep" Text="Очистить всё"
                              ButtonStyle="ButtonStyle.Danger"
                              Click="@ClearAllAsync"
                              Disabled="@(_selectedBoilerTypeId == null || _filteredRecipes.Count == 0)" />
            </div>
            <span class="record-count">Записей: @_filteredRecipes.Count</span>
        </div>
        <RadzenDataGrid @ref="_grid" Data="@_filteredRecipes" TItem="RecipeEditModel" class="grid-unified"
                        EditMode="DataGridEditMode.Single"
                        AllowFiltering="true" AllowSorting="true"
                        AllowColumnReorder="true"
                        FilterText="@DataGridRu.Filter"
                        ApplyFilterText="@DataGridRu.ApplyFilter"
                        ClearFilterText="@DataGridRu.ClearFilter"
                        EqualsText="@DataGridRu.Equals"
                        NotEqualsText="@DataGridRu.NotEquals"
                        ContainsText="@DataGridRu.Contains"
                        DoesNotContainText="@DataGridRu.DoesNotContain"
                        StartsWithText="@DataGridRu.StartsWith"
                        EndsWithText="@DataGridRu.EndsWith"
                        GreaterThanText="@DataGridRu.GreaterThan"
                        GreaterThanOrEqualsText="@DataGridRu.GreaterThanOrEquals"
                        LessThanText="@DataGridRu.LessThan"
                        LessThanOrEqualsText="@DataGridRu.LessThanOrEquals"
                        IsNullText="@DataGridRu.IsNull"
                        IsNotNullText="@DataGridRu.IsNotNull"
                        IsEmptyText="@DataGridRu.IsEmpty"
                        IsNotEmptyText="@DataGridRu.IsNotEmpty"
                        AndOperatorText="@DataGridRu.And"
                        OrOperatorText="@DataGridRu.Or"
                        EmptyText="@DataGridRu.Empty">
            <Columns>
                <RadzenDataGridColumn TItem="RecipeEditModel" Width="50px"
                                      Sortable="false" Filterable="false"
                                      TextAlign="TextAlign.Center">
                    <HeaderTemplate>
                        <RadzenCheckBox TValue="bool"
                                        Value="@(_filteredRecipes.Count > 0 && _selectedRecipes.Count == _filteredRecipes.Count)"
                                        Change="@OnSelectAllChanged" />
                    </HeaderTemplate>
                    <Template Context="item">
                        <RadzenCheckBox TValue="bool"
                                        Value="@_selectedRecipes.Contains(item)"
                                        Change="@(value => OnRowSelectChanged(item, value))" />
                    </Template>
                </RadzenDataGridColumn>
                <RadzenDataGridColumn TItem="RecipeEditModel" Property="Address"
                                      Title="Адрес">
                    <EditTemplate Context="item">
                        <RadzenTextBox @bind-Value="item.Address" MaxLength="100" class="w-full" />
                    </EditTemplate>
                </RadzenDataGridColumn>
                <RadzenDataGridColumn TItem="RecipeEditModel" Property="TagName"
                                      Title="Название параметра">
                    <EditTemplate Context="item">
                        <RadzenTextBox @bind-Value="item.TagName" MaxLength="100" class="w-full" />
                    </EditTemplate>
                </RadzenDataGridColumn>
                <RadzenDataGridColumn TItem="RecipeEditModel" Property="PlcType"
                                      Title="Тип PLC" Width="100px">
                    <Template Context="item">
                        @item.PlcType
                    </Template>
                    <EditTemplate Context="item">
                        <RadzenDropDown @bind-Value="item.PlcType"
                                        Data="@_plcTypes"
                                        Change="@(() => OnPlcTypeChanged(item))"
                                        class="w-full" />
                    </EditTemplate>
                </RadzenDataGridColumn>
                <RadzenDataGridColumn TItem="RecipeEditModel" Property="IsPlc"
                                      Title="PLC" Width="60px" TextAlign="TextAlign.Center">
                    <Template Context="item">
                        <RadzenCheckBox Value="@item.IsPlc" Disabled="true" />
                    </Template>
                    <EditTemplate Context="item">
                        <RadzenCheckBox @bind-Value="item.IsPlc" />
                    </EditTemplate>
                </RadzenDataGridColumn>
                <RadzenDataGridColumn TItem="RecipeEditModel" Property="Value"
                                      Title="Значение">
                    <EditTemplate Context="item">
                        @if (item.PlcType == PlcType.BOOL)
                        {
                            <RadzenDropDown @bind-Value="item.Value"
                                            Data="@_boolValues"
                                            class="w-full" />
                        }
                        else
                        {
                            <RadzenTextBox @bind-Value="item.Value"
                                           MaxLength="255"
                                           class="w-full"
                                           Change="@(() => ValidateValue(item))" />
                        }
                    </EditTemplate>
                </RadzenDataGridColumn>
                <RadzenDataGridColumn TItem="RecipeEditModel" Property="Unit"
                                      Title="Ед.изм." Width="80px">
                    <EditTemplate Context="item">
                        <RadzenTextBox @bind-Value="item.Unit" MaxLength="20" class="w-full" />
                    </EditTemplate>
                </RadzenDataGridColumn>
                <RadzenDataGridColumn TItem="RecipeEditModel" Property="Description"
                                      Title="Описание">
                    <EditTemplate Context="item">
                        <RadzenTextArea @bind-Value="item.Description" MaxLength="500" Rows="3" class="w-full" />
                    </EditTemplate>
                </RadzenDataGridColumn>
                <RadzenDataGridColumn TItem="RecipeEditModel"
                                      TextAlign="TextAlign.Center" Sortable="false"
                                      Filterable="false" Width="100px">
                    <Template Context="item">
                        <RadzenButton Icon="edit" Size="ButtonSize.Small"
                                      Click="@(() => EditRow(item))"/>
                        <RadzenButton Icon="delete" Size="ButtonSize.Small"
                                      ButtonStyle="ButtonStyle.Danger"
                                      Click="@(() => DeleteRow(item))"/>
                    </Template>
                    <EditTemplate Context="item">
                        <RadzenButton Icon="check" Size="ButtonSize.Small"
                                      Click="@(() => SaveRow(item))"/>
                        <RadzenButton Icon="close" Size="ButtonSize.Small"
                                      Click="@(() => CancelEdit(item))"/>
                    </EditTemplate>
                </RadzenDataGridColumn>
            </Columns>
        </RadzenDataGrid>
    }
</div>
