@inherits Final_Test_Hybrid.Components.Base.GridInplaceEditorBase<AiCallCheck.AiCallCheckItem>

<div id="@ContainerId">
    <RadzenDataGrid @ref="Grid" Data="@Items" TItem="AiCallCheckItem"
                    EditMode="DataGridEditMode.Single"
                    CellClick="@OnCellClick"
                    RowUpdate="@OnUpdateRow"
                    ColumnWidth="120px">
        <Columns>
            <RadzenDataGridColumn TItem="AiCallCheckItem" Property="PlcTag" Title="Параметр" Width="150px">
                <Template Context="item">
                    @item.PlcTag
                </Template>
            </RadzenDataGridColumn>

            <RadzenDataGridColumn TItem="AiCallCheckItem" Property="Type" Title="Тип" Width="180px">
                <Template Context="item">
                    @item.Type
                </Template>
            </RadzenDataGridColumn>

            @* Numeric Columns *@
            <RadzenDataGridColumn TItem="AiCallCheckItem" Property="Raw" Title="Сырое знач.">
                <Template Context="item">
                    @item.Raw.ToString("F3")
                </Template>
            </RadzenDataGridColumn>

            <RadzenDataGridColumn TItem="AiCallCheckItem" Property="Min" Title="Мин">
                <Template Context="item">
                    @item.Min.ToString("F3")
                </Template>
                <EditTemplate Context="item">
                    @if (IsEditing(nameof(item.Min)))
                    {
                        <RadzenNumeric TValue="double" class="w-full" @bind-Value="item.Min" />
                    }
                    else
                    {
                        @item.Min.ToString("F3")
                    }
                </EditTemplate>
            </RadzenDataGridColumn>

            <RadzenDataGridColumn TItem="AiCallCheckItem" Property="Max" Title="Макс">
                <Template Context="item">
                    @item.Max.ToString("F3")
                </Template>
                <EditTemplate Context="item">
                    @if (IsEditing(nameof(item.Max)))
                    {
                        <RadzenNumeric TValue="double" class="w-full" @bind-Value="item.Max" />
                    }
                    else
                    {
                        @item.Max.ToString("F3")
                    }
                </EditTemplate>
            </RadzenDataGridColumn>

            <RadzenDataGridColumn TItem="AiCallCheckItem" Property="Multiplier" Title="Множитель">
                <Template Context="item">
                    @item.Multiplier.ToString("F3")
                </Template>
                <EditTemplate Context="item">
                    @if (IsEditing(nameof(item.Multiplier)))
                    {
                        <RadzenNumeric TValue="double" class="w-full" @bind-Value="item.Multiplier" />
                    }
                    else
                    {
                        @item.Multiplier.ToString("F3")
                    }
                </EditTemplate>
            </RadzenDataGridColumn>

            <RadzenDataGridColumn TItem="AiCallCheckItem" Property="Offset" Title="Смещение">
                <Template Context="item">
                    @item.Offset.ToString("F3")
                </Template>
                <EditTemplate Context="item">
                    @if (IsEditing(nameof(item.Offset)))
                    {
                        <RadzenNumeric TValue="double" class="w-full" @bind-Value="item.Offset" />
                    }
                    else
                    {
                        @item.Offset.ToString("F3")
                    }
                </EditTemplate>
            </RadzenDataGridColumn>

            <RadzenDataGridColumn TItem="AiCallCheckItem" Property="Calculated" Title="Вычисленное">
                <Template Context="item">
                    @item.Calculated.ToString("F3")
                </Template>
            </RadzenDataGridColumn>
        </Columns>
    </RadzenDataGrid>
</div>
