@using Final_Test_Hybrid.Models.Plc.Tags

<div style="height: 100%; padding: 0 20px;">
    <div class="calc-grid">

        <div>
            <PanelBox Style="width: 375px; height: 365px">
                <ValueIndicator EmitCachedValueImmediately="@EmitCachedValueImmediately" Label="POG Gas Flow G20"
                                Tag="@SensorScreenTags.GasPog"/>
                <ValueIndicator EmitCachedValueImmediately="@EmitCachedValueImmediately" Label="FS DHW Wtr Flw"
                                Tag="@SensorScreenTags.DhwFs"/>
                <ValueIndicator EmitCachedValueImmediately="@EmitCachedValueImmediately" Label="FR CH Wtr Flw"
                                Tag="@SensorScreenTags.ChFr"/>
                <ValueIndicator EmitCachedValueImmediately="@EmitCachedValueImmediately" Label="CO UMAT"
                                Tag="@SensorScreenTags.FaCo"/>
                <ValueIndicator EmitCachedValueImmediately="@EmitCachedValueImmediately" Label="CO2 UMAT"
                                Tag="@SensorScreenTags.FaCo2"/>
                <ValueIndicator EmitCachedValueImmediately="@EmitCachedValueImmediately" Label="PAG Blr Gas Pres"
                                Tag="@SensorScreenTags.GasPag"/>
                <ValueIndicator EmitCachedValueImmediately="@EmitCachedValueImmediately" Label="PES DHW In Pres"
                                Tag="@SensorScreenTags.DhwPes"/>
                <ValueIndicator EmitCachedValueImmediately="@EmitCachedValueImmediately" Label="PMR CH Flw Pres"
                                Tag="@SensorScreenTags.ChPmr"/>
            </PanelBox>
        </div>

        <div>
            <PanelBox Style="width: 375px; height: 365px">
                <ValueIndicator EmitCachedValueImmediately="@EmitCachedValueImmediately" Label="04B1 Blr Supply"
                                Tag="@SensorScreenTags.BlrSupply"/>
                <ValueIndicator EmitCachedValueImmediately="@EmitCachedValueImmediately" Label="20B1 RT 24V frm Blr"
                                Tag="@SensorScreenTags.GasPog1"/>
                <ValueIndicator EmitCachedValueImmediately="@EmitCachedValueImmediately" Label="PGB Bnr Gas Pres"
                                Value="#"/>
                <ValueIndicator EmitCachedValueImmediately="@EmitCachedValueImmediately" Label="O2 UMAT"
                                Tag="@SensorScreenTags.FaO2"/>
                <ValueIndicator EmitCachedValueImmediately="@EmitCachedValueImmediately" Label="POG2 Gas Flow LPG"
                                Value="#"/>
                <ValueIndicator EmitCachedValueImmediately="@EmitCachedValueImmediately" Label="CO2 Cascade"
                                Tag="@SensorScreenTags.GasP"/>
                <ValueIndicator EmitCachedValueImmediately="@EmitCachedValueImmediately" Label="RRR CH Rtn Pres"
                                Tag="@SensorScreenTags.GasPa"/>
                <ValueIndicator EmitCachedValueImmediately="@EmitCachedValueImmediately" Label="ACC Current Meter"
                                Value="#"/>
            </PanelBox>
        </div>

        <div>
            <PanelBox Style="width: 375px; height: 365px">
                <ValueIndicator EmitCachedValueImmediately="@EmitCachedValueImmediately" Label="LFE Pressure High" Value="#"/>
                <ValueIndicator EmitCachedValueImmediately="@EmitCachedValueImmediately" Label="LFE Pressure Low" Value="#"/>
                <ValueIndicator EmitCachedValueImmediately="@EmitCachedValueImmediately" Label="BARO Barometer" Value="#"/>
                <ValueIndicator EmitCachedValueImmediately="@EmitCachedValueImmediately" Label="HYGRO Humidity" Value="#"/>
                <ValueIndicator EmitCachedValueImmediately="@EmitCachedValueImmediately" Label="LFE Inlet Pres" Value="#"/>
                <ValueIndicator EmitCachedValueImmediately="@EmitCachedValueImmediately" Label="Pwr Sup Ext Shutter" Value="#"/>
                <ValueIndicator EmitCachedValueImmediately="@EmitCachedValueImmediately" Label="E.S.T Ground" Value="#"/>
                <ValueIndicator EmitCachedValueImmediately="@EmitCachedValueImmediately" Label="E.S.T HV" Value="#"/>
            </PanelBox>
        </div>
    </div>


    <div class="calc-grid">
        <div>
            <div class="group-header">Gas Flow Calculations</div>
            <PanelBox Style="padding: 14px; width: 450px; height: 230px">
                <ValueIndicator EmitCachedValueImmediately="@EmitCachedValueImmediately" Label="From Sensor"
                                Tag="@SensorScreenTags.GasPog1"/>
                <ValueIndicator EmitCachedValueImmediately="@EmitCachedValueImmediately" Label="Correction Factor Applied" Value="#"/>
                <ValueIndicator EmitCachedValueImmediately="@EmitCachedValueImmediately" Label="Normalized"
                                Tag="@SensorScreenTags.GasPog1N"/>
                <ValueIndicator EmitCachedValueImmediately="@EmitCachedValueImmediately" Label="Time Compensated" Value="#"/>
                <ValueIndicator EmitCachedValueImmediately="@EmitCachedValueImmediately" Label="Cover Corrected" Value="#"/>
            </PanelBox>
        </div>

        <div>
            <div class="group-header">CO2 Calculations</div>
            <PanelBox Style="padding: 14px; width: 450px; height: 230px">
                <ValueIndicator EmitCachedValueImmediately="@EmitCachedValueImmediately" Label="From Sensor" Value="#"/>
                <ValueIndicator EmitCachedValueImmediately="@EmitCachedValueImmediately" Label="Correction Factor Applied" Value="#"/>
                <ValueIndicator EmitCachedValueImmediately="@EmitCachedValueImmediately" Label="Correction for Gas Chrom" Value="#"/>
                <ValueIndicator EmitCachedValueImmediately="@EmitCachedValueImmediately" Label="Cover Corrected" Value="#"/>
            </PanelBox>
        </div>
        <div>
            <div class="group-header">Normalized Average</div>
            <PanelBox Style="width: 450px; height: 230px">
                <div
                    style="text-align: center; margin-bottom: 25px; font-weight: 700; font-size: 20px;">
                    Average Time (sec)
                </div>

                <div
                    style="display: flex; align-items: center; justify-content: space-between; padding: 0 5px;">
                    <div style="flex-grow: 1; margin-right: 10px;">
                        <RadzenSlider TValue="int" Min="5" Max="30" Step="1"
                                      Value="5" Style="width: 100%; margin: 0;"/>
                        <div
                            style="display: flex; justify-content: space-between; font-size: 18px; margin-top: -5px;">
                            <span>5</span>
                            <span>30</span>
                        </div>
                    </div>

                    <RadzenButton Text="RESET"
                                  ButtonStyle="ButtonStyle.Light"
                                  Size="ButtonSize.ExtraSmall"
                                  Style="border: 1px solid #999; background: #e0e0e0; color: #000;
                                      min-width: 100px; min-height: 30px;
                                       font-size: 15px; padding: 0 5px;"/>
                </div>

                <div class="big-value">
                    0.080
                </div>
            </PanelBox>
        </div>
    </div>
</div>

@code {
    /// <summary>
    /// Включает немедленную выдачу cached значения для дочерних индикаторов.
    /// </summary>
    [Parameter] public bool EmitCachedValueImmediately { get; set; }
}

