<div style="height: 100%; padding: 0 20px;">
    <div class="panel-grid">

        <PanelBox>
            <LampIndicator EmitCachedValueImmediately="@EmitCachedValueImmediately" Label="PC_ON"/>
            <LampIndicator EmitCachedValueImmediately="@EmitCachedValueImmediately" Label="6K1_NOK"/>
            <LampIndicator EmitCachedValueImmediately="@EmitCachedValueImmediately" Label="6K1_OK"/>
            <LampIndicator EmitCachedValueImmediately="@EmitCachedValueImmediately" Label="6K2_NOK"/>
            <LampIndicator EmitCachedValueImmediately="@EmitCachedValueImmediately" Label="6K2_OK"/>
            <LampIndicator EmitCachedValueImmediately="@EmitCachedValueImmediately" Label="Plug_Ins"/>
            <LampIndicator EmitCachedValueImmediately="@EmitCachedValueImmediately" Label="7K3_ON"/>
            <LampIndicator EmitCachedValueImmediately="@EmitCachedValueImmediately" Label="Isometer_Alarm"/>
        </PanelBox>

        <PanelBox>
            <LampIndicator EmitCachedValueImmediately="@EmitCachedValueImmediately" Label="FA_AlarmCondensat"/>
            <LampIndicator EmitCachedValueImmediately="@EmitCachedValueImmediately" Label="FA_AlarmHeatLine"/>
            <LampIndicator EmitCachedValueImmediately="@EmitCachedValueImmediately" Label="FA_AlarmGasCooler"/>
            <LampIndicator EmitCachedValueImmediately="@EmitCachedValueImmediately" Label="FA_Trip"/>
            <LampIndicator EmitCachedValueImmediately="@EmitCachedValueImmediately" Label="FA_NoReady"/>
            <LampIndicator EmitCachedValueImmediately="@EmitCachedValueImmediately" Label="E14_1"/>
            <LampIndicator EmitCachedValueImmediately="@EmitCachedValueImmediately" Label="FA_RangeO2"/>
            <LampIndicator EmitCachedValueImmediately="@EmitCachedValueImmediately" Label="Adapter_Inserted"/>
        </PanelBox>

        <PanelBox>
            <LampIndicator EmitCachedValueImmediately="@EmitCachedValueImmediately" Label="30SB4"/>
            <LampIndicator EmitCachedValueImmediately="@EmitCachedValueImmediately" Label="E57_1"/>
            <LampIndicator EmitCachedValueImmediately="@EmitCachedValueImmediately" Label="30SB5"/>
            <LampIndicator EmitCachedValueImmediately="@EmitCachedValueImmediately" Label="30SB6"/>
            <LampIndicator EmitCachedValueImmediately="@EmitCachedValueImmediately" Label="30SA7_1"/>
            <LampIndicator EmitCachedValueImmediately="@EmitCachedValueImmediately" Label="E58_1"/>
            <LampIndicator EmitCachedValueImmediately="@EmitCachedValueImmediately" Label="30SA7_2"/>
            <LampIndicator EmitCachedValueImmediately="@EmitCachedValueImmediately" Label="30SA9"/>
        </PanelBox>

        <PanelBox>
            <LampIndicator EmitCachedValueImmediately="@EmitCachedValueImmediately" Label="32S5"/>
            <LampIndicator EmitCachedValueImmediately="@EmitCachedValueImmediately" Label="32S6"/>
            <LampIndicator EmitCachedValueImmediately="@EmitCachedValueImmediately" Label="32S7"/>
            <LampIndicator EmitCachedValueImmediately="@EmitCachedValueImmediately" Label="PSW3_1"/>
            <LampIndicator EmitCachedValueImmediately="@EmitCachedValueImmediately" Label="E64_1"/>
            <LampIndicator EmitCachedValueImmediately="@EmitCachedValueImmediately" Label="28S2"/>
            <LampIndicator EmitCachedValueImmediately="@EmitCachedValueImmediately" Label="E64_3"/>
            <LampIndicator EmitCachedValueImmediately="@EmitCachedValueImmediately" Label="28S1"/>
        </PanelBox>

        <PanelBox>
            <LampIndicator EmitCachedValueImmediately="@EmitCachedValueImmediately" Label="TCabinetOK"/>
            <LampIndicator EmitCachedValueImmediately="@EmitCachedValueImmediately" Label="AlrLevel_OK"/>
            <LampIndicator EmitCachedValueImmediately="@EmitCachedValueImmediately" Label="Trip_OK"/>
            <LampIndicator EmitCachedValueImmediately="@EmitCachedValueImmediately" Label="Schuko_Inside"/>
            <LampIndicator EmitCachedValueImmediately="@EmitCachedValueImmediately" Label="FA_ReqMaintenance"/>
            <LampIndicator EmitCachedValueImmediately="@EmitCachedValueImmediately" Label="FA_RangeCO"/>
            <LampIndicator EmitCachedValueImmediately="@EmitCachedValueImmediately" Label="FA_RangeCO2"/>
            <LampIndicator EmitCachedValueImmediately="@EmitCachedValueImmediately" Label="FA_CalUltramat23"/>
        </PanelBox>

        <PanelBox>
            <LampIndicator EmitCachedValueImmediately="@EmitCachedValueImmediately" Label="Adapter_NotInserted"/>
            <LampIndicator EmitCachedValueImmediately="@EmitCachedValueImmediately" Label="Boiler_Blocage"/>
            <LampIndicator EmitCachedValueImmediately="@EmitCachedValueImmediately" Label="Boiler_DeBlocage"/>
            <LampIndicator EmitCachedValueImmediately="@EmitCachedValueImmediately" Label="PlateIn"/>
            <LampIndicator EmitCachedValueImmediately="@EmitCachedValueImmediately" Label="E56_0"/>
            <LampIndicator EmitCachedValueImmediately="@EmitCachedValueImmediately" Label="30SB2"/>
            <LampIndicator EmitCachedValueImmediately="@EmitCachedValueImmediately" Label="30SB13"/>
            <LampIndicator EmitCachedValueImmediately="@EmitCachedValueImmediately" Label="30SB3"/>
        </PanelBox>

        <PanelBox>
            <LampIndicator EmitCachedValueImmediately="@EmitCachedValueImmediately" Label="30SB10"/>
            <LampIndicator EmitCachedValueImmediately="@EmitCachedValueImmediately" Label="E59_1"/>
            <LampIndicator EmitCachedValueImmediately="@EmitCachedValueImmediately" Label="E59_2"/>
            <LampIndicator EmitCachedValueImmediately="@EmitCachedValueImmediately" Label="30SB11"/>
            <LampIndicator EmitCachedValueImmediately="@EmitCachedValueImmediately" Label="E60_0"/>
            <LampIndicator EmitCachedValueImmediately="@EmitCachedValueImmediately" Label="E60_1"/>
            <LampIndicator EmitCachedValueImmediately="@EmitCachedValueImmediately" Label="32S4"/>
            <LampIndicator EmitCachedValueImmediately="@EmitCachedValueImmediately" Label="32S3"/>
        </PanelBox>

        <PanelBox>
        </PanelBox>

    </div>
</div>

@code {
    /// <summary>
    /// Включает немедленную выдачу cached значения для дочерних индикаторов.
    /// </summary>
    [Parameter] public bool EmitCachedValueImmediately { get; set; }
}

