@using Final_Test_Hybrid.Models.Plc.Tags

<div style="height: 100%; padding: 0 20px;">
    <div class="panel-grid"
         style="grid-template-columns: repeat(3, 0.1fr);">

        @* VP1 - CH (Система отопления) *@
        <PanelBox Style="width: 540px; height: 315px">
            <InteractiveLampOutput EmitCachedValueImmediately="@EmitCachedValueImmediately" Label="VP1.1 Продувка"
                StatusTag="@PneumaticValveTags.Vp1_1_Purge"
                ControlTag="@PneumaticValveTags.Vp1_1_Purge_SbOpen"
                UseToggleMode="true"
                IsInteractive="@IsInteractive"/>
            <InteractiveLampOutput EmitCachedValueImmediately="@EmitCachedValueImmediately" Label="VP1.2 Продувка"
                StatusTag="@PneumaticValveTags.Vp1_2_Purge"
                ControlTag="@PneumaticValveTags.Vp1_2_Purge_SbOpen"
                UseToggleMode="true"
                IsInteractive="@IsInteractive"/>
            <InteractiveLampOutput EmitCachedValueImmediately="@EmitCachedValueImmediately" Label="VP1.3 Заполнение"
                StatusTag="@PneumaticValveTags.Vp1_3_Fill"
                ControlTag="@PneumaticValveTags.Vp1_3_Fill_SbOpen"
                UseToggleMode="true"
                IsInteractive="@IsInteractive"/>
            <InteractiveLampOutput EmitCachedValueImmediately="@EmitCachedValueImmediately" Label="VP1.4 Быстрое заполнение"
                StatusTag="@PneumaticValveTags.Vp1_4_FastFill"
                ControlTag="@PneumaticValveTags.Vp1_4_FastFill_SbOpen"
                UseToggleMode="true"
                IsInteractive="@IsInteractive"/>
            <InteractiveLampOutput EmitCachedValueImmediately="@EmitCachedValueImmediately" Label="VP1.5 Подача воды в СН"
                StatusTag="@PneumaticValveTags.Vp1_5_WaterToCh"
                ControlTag="@PneumaticValveTags.Vp1_5_WaterToCh_SbOpen"
                UseToggleMode="true"
                IsInteractive="@IsInteractive"/>
            <InteractiveLampOutput EmitCachedValueImmediately="@EmitCachedValueImmediately" Label="VP1.6 Подача воды в СН"
                StatusTag="@PneumaticValveTags.Vp1_6_WaterToCh"
                ControlTag="@PneumaticValveTags.Vp1_6_WaterToCh_SbOpen"
                UseToggleMode="true"
                IsInteractive="@IsInteractive"/>
        </PanelBox>

        <PanelBox Style="width: 540px; height: 315px">
            <InteractiveLampOutput EmitCachedValueImmediately="@EmitCachedValueImmediately" Label="VP1.7 Под. гор. воды в теплообм. (б/насоса)"
                StatusTag="@PneumaticValveTags.Vp1_7_HotWaterNoPump"
                ControlTag="@PneumaticValveTags.Vp1_7_HotWaterNoPump_SbOpen"
                UseToggleMode="true"
                IsInteractive="@IsInteractive"/>
            <InteractiveLampOutput EmitCachedValueImmediately="@EmitCachedValueImmediately" Label="VP1.8 Слив"
                StatusTag="@PneumaticValveTags.Vp1_8_Drain"
                ControlTag="@PneumaticValveTags.Vp1_8_Drain_SbOpen"
                UseToggleMode="true"
                IsInteractive="@IsInteractive"/>
            <InteractiveLampOutput EmitCachedValueImmediately="@EmitCachedValueImmediately" Label="VP1.9 Резерв"
                StatusTag="@PneumaticValveTags.Vp1_9_Reserve"
                ControlTag="@PneumaticValveTags.Vp1_9_Reserve_SbOpen"
                UseToggleMode="true"
                IsInteractive="@IsInteractive"/>
            <InteractiveLampOutput EmitCachedValueImmediately="@EmitCachedValueImmediately" Label="VP1.10 Под. гор воды в теплообм. (с насосом)"
                StatusTag="@PneumaticValveTags.Vp1_10_HotWaterWithPump"
                ControlTag="@PneumaticValveTags.Vp1_10_HotWaterWithPump_SbOpen"
                UseToggleMode="true"
                IsInteractive="@IsInteractive"/>
            <InteractiveLampOutput EmitCachedValueImmediately="@EmitCachedValueImmediately" Label="VP1.11 Слив"
                StatusTag="@PneumaticValveTags.Vp1_11_Drain"
                ControlTag="@PneumaticValveTags.Vp1_11_Drain_SbOpen"
                UseToggleMode="true"
                IsInteractive="@IsInteractive"/>
            <InteractiveLampOutput EmitCachedValueImmediately="@EmitCachedValueImmediately" Label="VP1.12 Медленное заполнение"
                StatusTag="@PneumaticValveTags.Vp1_12_SlowFill"
                ControlTag="@PneumaticValveTags.Vp1_12_SlowFill_SbOpen"
                UseToggleMode="true"
                IsInteractive="@IsInteractive"/>
        </PanelBox>

        @* VP2 - DHW (Горячее водоснабжение) *@
        <PanelBox Style="width: 540px; height: 315px">
            <InteractiveLampOutput EmitCachedValueImmediately="@EmitCachedValueImmediately" Label="VP2.1 Продувка"
                StatusTag="@PneumaticValveTags.Vp2_1_Purge"
                ControlTag="@PneumaticValveTags.Vp2_1_Purge_SbOpen"
                UseToggleMode="true"
                IsInteractive="@IsInteractive"/>
            <InteractiveLampOutput EmitCachedValueImmediately="@EmitCachedValueImmediately" Label="VP2.2 Продувка"
                StatusTag="@PneumaticValveTags.Vp2_2_Purge"
                ControlTag="@PneumaticValveTags.Vp2_2_Purge_SbOpen"
                UseToggleMode="true"
                IsInteractive="@IsInteractive"/>
            <InteractiveLampOutput EmitCachedValueImmediately="@EmitCachedValueImmediately" Label="VP2.3 Линия высокого давления"
                StatusTag="@PneumaticValveTags.Vp2_3_HighPressure"
                ControlTag="@PneumaticValveTags.Vp2_3_HighPressure_SbOpen"
                UseToggleMode="true"
                IsInteractive="@IsInteractive"/>
            <InteractiveLampOutput EmitCachedValueImmediately="@EmitCachedValueImmediately" Label="VP2.4 Заполнение"
                StatusTag="@PneumaticValveTags.Vp2_4_Fill"
                ControlTag="@PneumaticValveTags.Vp2_4_Fill_SbOpen"
                UseToggleMode="true"
                IsInteractive="@IsInteractive"/>
            <InteractiveLampOutput EmitCachedValueImmediately="@EmitCachedValueImmediately" Label="VP2.5 Выход из котла"
                StatusTag="@PneumaticValveTags.Vp2_5_BoilerOut"
                ControlTag="@PneumaticValveTags.Vp2_5_BoilerOut_SbOpen"
                UseToggleMode="true"
                IsInteractive="@IsInteractive"/>
            <InteractiveLampOutput EmitCachedValueImmediately="@EmitCachedValueImmediately" Label="VP2.6 Слив"
                StatusTag="@PneumaticValveTags.Vp2_6_Drain"
                ControlTag="@PneumaticValveTags.Vp2_6_Drain_SbOpen"
                UseToggleMode="true"
                IsInteractive="@IsInteractive"/>
        </PanelBox>

        <PanelBox Style="width: 540px; height: 315px">
            <InteractiveLampOutput EmitCachedValueImmediately="@EmitCachedValueImmediately" Label="VP2.7 Вход в котел"
                StatusTag="@PneumaticValveTags.Vp2_7_BoilerIn"
                ControlTag="@PneumaticValveTags.Vp2_7_BoilerIn_SbOpen"
                UseToggleMode="true"
                IsInteractive="@IsInteractive"/>
            <InteractiveLampOutput EmitCachedValueImmediately="@EmitCachedValueImmediately" Label="VP2.8 Слив"
                StatusTag="@PneumaticValveTags.Vp2_8_Drain"
                ControlTag="@PneumaticValveTags.Vp2_8_Drain_SbOpen"
                UseToggleMode="true"
                IsInteractive="@IsInteractive"/>
        </PanelBox>

        @* VP0 - GAS (Газ) *@
        <PanelBox Style="width: 540px; height: 315px">
            <InteractiveLampOutput EmitCachedValueImmediately="@EmitCachedValueImmediately" Label="VP0.1 Подача газа G20"
                StatusTag="@PneumaticValveTags.Vp0_1_GasG20"
                ControlTag="@PneumaticValveTags.Vp0_1_GasG20_SbOpen"
                UseToggleMode="true"
                IsInteractive="@IsInteractive"/>
            <InteractiveLampOutput EmitCachedValueImmediately="@EmitCachedValueImmediately" Label="VP0.2 Подача газа G25"
                StatusTag="@PneumaticValveTags.Vp0_2_GasG25"
                ControlTag="@PneumaticValveTags.Vp0_2_GasG25_SbOpen"
                UseToggleMode="true"
                IsInteractive="@IsInteractive"/>
            <InteractiveLampOutput EmitCachedValueImmediately="@EmitCachedValueImmediately" Label="VP0.3 Подача сжиж. газа G30"
                StatusTag="@PneumaticValveTags.Vp0_3_LpgG30"
                ControlTag="@PneumaticValveTags.Vp0_3_LpgG30_SbOpen"
                UseToggleMode="true"
                IsInteractive="@IsInteractive"/>
            <InteractiveLampOutput EmitCachedValueImmediately="@EmitCachedValueImmediately" Label="EV0.3 Подача газа на котел"
                StatusTag="@OutputsTags.Ev0_3_BoilerGasOn"
                ControlTag="@OutputsTags.Ev0_3_BoilerGasOn_Sb"
                UseToggleMode="true"
                IsInteractive="@IsInteractive"/>
        </PanelBox>

    </div>
</div>

@code {
    /// <summary>
    /// Разрешает интерактивное управление клапанами.
    /// </summary>
    [Parameter] public bool IsInteractive { get; set; }
    
    /// <summary>
    /// Включает немедленную выдачу cached значения для дочерних индикаторов.
    /// </summary>
    [Parameter] public bool EmitCachedValueImmediately { get; set; }
}

