@inherits Final_Test_Hybrid.Components.Base.GridInplaceEditorBase<RtdCalCheck.RtdCalCheckItem>

<div id="@ContainerId">
    <RadzenDataGrid @ref="Grid" Data="@Items" TItem="RtdCalCheckItem"
                    EditMode="DataGridEditMode.Single"
                    CellClick="@OnCellClick"
                    RowUpdate="@OnUpdateRow"
                    ColumnWidth="120px">
        <Columns>
            <RadzenDataGridColumn TItem="RtdCalCheckItem" Property="PlcTag" Title="Тэг ПЛК" Width="150px">
                <Template Context="item">
                    @item.PlcTag
                </Template>
            </RadzenDataGridColumn>

            <RadzenDataGridColumn TItem="RtdCalCheckItem" Property="Type" Title="Тип" Width="180px">
                <Template Context="item">
                    @item.Type
                </Template>
            </RadzenDataGridColumn>

            <RadzenDataGridColumn TItem="RtdCalCheckItem" Property="Raw" Title="Сырое">
                <Template Context="item">
                    @item.Raw.ToString("F3")
                </Template>
            </RadzenDataGridColumn>

            <RadzenDataGridColumn TItem="RtdCalCheckItem" Property="Multiplier" Title="Множитель">
                <Template Context="item">
                    @item.Multiplier.ToString("F3")
                </Template>
                <EditTemplate Context="item">
                    @if (IsEditing(nameof(item.Multiplier)))
                    {
                        <RadzenNumeric TValue="double" class="w-full" @bind-Value="item.Multiplier" />
                    }
                    else
                    {
                        @item.Multiplier.ToString("F3")
                    }
                </EditTemplate>
            </RadzenDataGridColumn>

            <RadzenDataGridColumn TItem="RtdCalCheckItem" Property="Offset" Title="Смещение">
                <Template Context="item">
                    @item.Offset.ToString("F3")
                </Template>
                <EditTemplate Context="item">
                    @if (IsEditing(nameof(item.Offset)))
                    {
                        <RadzenNumeric TValue="double" class="w-full" @bind-Value="item.Offset" />
                    }
                    else
                    {
                        @item.Offset.ToString("F3")
                    }
                </EditTemplate>
            </RadzenDataGridColumn>

            <RadzenDataGridColumn TItem="RtdCalCheckItem" Property="Calculated" Title="Вычисленное">
                <Template Context="item">
                    @item.Calculated.ToString("F3")
                </Template>
            </RadzenDataGridColumn>
        </Columns>
    </RadzenDataGrid>
</div>
