@using Microsoft.JSInterop
@inject IJSRuntime JSRuntime

<div id="@containerId">
    <RadzenDataGrid @ref="grid" Data="@items" TItem="RtdCalCheckItem"
                    EditMode="DataGridEditMode.Single"
                    CellClick="@OnCellClick"
                    RowUpdate="@OnUpdateRow"
                    ColumnWidth="120px">
        <Columns>
            <RadzenDataGridColumn TItem="RtdCalCheckItem" Property="PlcTag" Title="Тэг ПЛК" Width="150px">
                <EditTemplate Context="item">
                    @if (IsEditing(nameof(item.PlcTag)))
                    {
                        <RadzenTextBox Style="width:100%" @bind-Value="item.PlcTag" />
                    }
                    else
                    {
                        @item.PlcTag
                    }
                </EditTemplate>
            </RadzenDataGridColumn>
            
            <RadzenDataGridColumn TItem="RtdCalCheckItem" Property="Type" Title="Тип" Width="180px">
                <EditTemplate Context="item">
                    @if (IsEditing(nameof(item.Type)))
                    {
                        <RadzenTextBox Style="width:100%" @bind-Value="item.Type" />
                    }
                    else
                    {
                        @item.Type
                    }
                </EditTemplate>
            </RadzenDataGridColumn>

            @* Numeric Columns *@
            <RadzenDataGridColumn TItem="RtdCalCheckItem" Property="Raw" Title="Сырое">
                <Template Context="item">
                    @item.Raw.ToString("F3")
                </Template>
                <EditTemplate Context="item">
                    @if (IsEditing(nameof(item.Raw)))
                    {
                        <RadzenNumeric TValue="double" Style="width:100%" @bind-Value="item.Raw" />
                    }
                    else
                    {
                        @item.Raw.ToString("F3")
                    }
                </EditTemplate>
            </RadzenDataGridColumn>

            <RadzenDataGridColumn TItem="RtdCalCheckItem" Property="Multiplier" Title="Множитель">
                <Template Context="item">
                    @item.Multiplier.ToString("F3")
                </Template>
                <EditTemplate Context="item">
                    @if (IsEditing(nameof(item.Multiplier)))
                    {
                        <RadzenNumeric TValue="double" Style="width:100%" @bind-Value="item.Multiplier" />
                    }
                    else
                    {
                        @item.Multiplier.ToString("F3")
                    }
                </EditTemplate>
            </RadzenDataGridColumn>

            <RadzenDataGridColumn TItem="RtdCalCheckItem" Property="Offset" Title="Смещение">
                <Template Context="item">
                    @item.Offset.ToString("F3")
                </Template>
                <EditTemplate Context="item">
                    @if (IsEditing(nameof(item.Offset)))
                    {
                        <RadzenNumeric TValue="double" Style="width:100%" @bind-Value="item.Offset" />
                    }
                    else
                    {
                        @item.Offset.ToString("F3")
                    }
                </EditTemplate>
            </RadzenDataGridColumn>

            <RadzenDataGridColumn TItem="RtdCalCheckItem" Property="Calculated" Title="Вычисленное">
                <Template Context="item">
                    @item.Calculated.ToString("F3")
                </Template>
                <EditTemplate Context="item">
                    @if (IsEditing(nameof(item.Calculated)))
                    {
                        <RadzenNumeric TValue="double" Style="width:100%" @bind-Value="item.Calculated" />
                    }
                    else
                    {
                        @item.Calculated.ToString("F3")
                    }
                </EditTemplate>
            </RadzenDataGridColumn>
        </Columns>
    </RadzenDataGrid>
</div>
