@using Final_Test_Hybrid.Models.Plc.Tags

<div style="height: 100%; padding: 0 20px;">
    <div class="panel-grid" style="grid-template-columns: max-content;">
        <div class="panel-grid" style="grid-template-columns: max-content;">

            <PanelBox Style="width: 550px; height: 250px">
                <ValueIndicator EmitCachedValueImmediately="@EmitCachedValueImmediately" Label="TAG Температура входящего газа"
                                Tag="@RtdScreenTags.GasTag"/>
                <ValueIndicator EmitCachedValueImmediately="@EmitCachedValueImmediately" Label="TES Температура воды на входе ГВ"
                                Tag="@RtdScreenTags.DhwTes"/>
                <ValueIndicator EmitCachedValueImmediately="@EmitCachedValueImmediately" Label="TUS Температура воды на выходе ГВ"
                                Tag="@RtdScreenTags.DhwTus"/>
                <ValueIndicator EmitCachedValueImmediately="@EmitCachedValueImmediately" Label="TMR Температура подачи отопления"
                                Tag="@RtdScreenTags.ChTmr"/>
                <ValueIndicator EmitCachedValueImmediately="@EmitCachedValueImmediately" Label="TRR Температура возврата отопления"
                                Tag="@RtdScreenTags.ChTrr"/>
            </PanelBox>

        </div>
    </div>
</div>

@code {
    /// <summary>
    /// Включает немедленную выдачу cached значения для дочерних индикаторов.
    /// </summary>
    [Parameter] public bool EmitCachedValueImmediately { get; set; }
}

