@using Final_Test_Hybrid.Models.Database.Edit

<div class="tab-content">
    @if (_loadError)
    {
        <RadzenAlert AlertStyle="AlertStyle.Danger" Shade="Shade.Lighter"
                     AllowClose="false">
            Не удалось загрузить данные из базы данных
        </RadzenAlert>
    }
    else
    {
        <div class="grid-toolbar">
            <div class="toolbar-buttons">
                <RadzenButton Icon="refresh" Text="Обновить"
                              Click="@LoadDataAsync" />
                <RadzenButton Icon="add" Text="Добавить"
                              Click="@AddNewRow" />
                <RadzenButton Icon="delete_sweep" Text="Очистить всё"
                              ButtonStyle="ButtonStyle.Danger"
                              Click="@ClearAllAsync"
                              Disabled="@(_stepFinalTests.Count == 0)" />
            </div>
            <span class="record-count">Записей: @_stepFinalTests.Count</span>
        </div>
        <RadzenDataGrid @ref="_grid" Data="@_stepFinalTests" TItem="StepFinalTestEditModel"
                        EditMode="DataGridEditMode.Single"
                        AllowFiltering="true" AllowSorting="true"
                        AllowColumnResize="true">
            <Columns>
                <RadzenDataGridColumn TItem="StepFinalTestEditModel" Property="Name"
                                      Title="Название">
                    <EditTemplate Context="item">
                        <RadzenTextBox @bind-Value="item.Name"
                                       MaxLength="500" class="w-full" />
                    </EditTemplate>
                </RadzenDataGridColumn>
                <RadzenDataGridColumn TItem="StepFinalTestEditModel"
                                      TextAlign="TextAlign.Center" Sortable="false"
                                      Filterable="false" Width="100px">
                    <Template Context="item">
                        <RadzenButton Icon="edit" Size="ButtonSize.Small"
                                      Click="@(() => EditRow(item))"/>
                        <RadzenButton Icon="delete" Size="ButtonSize.Small"
                                      ButtonStyle="ButtonStyle.Danger"
                                      Click="@(() => DeleteRow(item))"/>
                    </Template>
                    <EditTemplate Context="item">
                        <RadzenButton Icon="check" Size="ButtonSize.Small"
                                      Click="@(() => SaveRow(item))"/>
                        <RadzenButton Icon="close" Size="ButtonSize.Small"
                                      Click="@(() => CancelEdit(item))"/>
                    </EditTemplate>
                </RadzenDataGridColumn>
            </Columns>
        </RadzenDataGrid>
    }
</div>
