<div class="engineering-container">
    <div class="button-stack">
        <RadzenButton Text="Основные настройки" Icon="settings" Class="eng-btn"
                      Click="@(() => OnButtonClick(OpenMainSettingsDialog))"
                      Disabled="@IsMainSettingsDisabled" />

        <RadzenButton Text="Hand Program" Icon="build" Class="eng-btn btn-icon-red"
                      Click="@(() => OnButtonClick(OnHandProgram))"
                      Disabled="@IsMainSettingsDisabled" />

        <RadzenButton Text="IO Editor" Icon="memory" Class="eng-btn btn-icon-green"
                      Click="@(() => OnButtonClick(OnIoEditor))"
                      Disabled="@IsMainSettingsDisabled" />

        @* <RadzenButton Text="AI & RTD Correction" Icon="speed" Class="eng-btn"
                      Click="@(() => OnButtonClick(OnAiRtdCorrection))" /> *@

        @* <RadzenButton Text="Disable Test Log" Icon="check_circle" Class="eng-btn active-orange btn-icon-green-bright"
                      Click="@(() => OnButtonClick(OnDisableTestLog))" /> *@

        @* <RadzenButton Text="Test Log Viewer" Icon="edit_note" Class="eng-btn"
                      Click="@(() => OnButtonClick(OnTestLogViewer))" /> *@

        <RadzenButton Text="Редактор шагов теста" Icon="playlist_add_check" Class="eng-btn"
                      Click="@(() => OnButtonClick(OpenTestSequenceEditor))" />

        @* <RadzenButton Text="View Gas & DHW Charts" Icon="show_chart" Class="eng-btn"
                      Click="@(() => OnButtonClick(OnViewCharts))" /> *@

        <RadzenButton Text="База данных стенда" Icon="storage" Class="eng-btn"
                      Click="@(() => OnButtonClick(OpenStandDatabase))" />
    </div>
</div>
